<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>The Scaffolding for an MVVM VIewController</string>
	<key>Summary</key>
	<string>Modeled View Controller</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>Image</key>
	<dict>
		<key>FileTypeIcon</key>
		<string>swift</string>
	</dict>
	<key>DefaultCompletionName</key>
	<string>MyFeature</string>
	<key>Platforms</key>
	<array/>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module Name</string>
			<key>Description</key>
			<string>Name of feature. ie SignUp</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>MyFeature</string>
		</dict>
	</array>
</dict>
</plist>
